footer {
    position: fixed;
    left: -5%;
    z-index: 10;
    width: 100vw ;
    height: 60px ;
    padding: 0px ;
    display: flex;
    flex-direction: row !;
    bottom: 0 ;
   
}

footer ul {
    list-style: none;
}

footer ul li {
    display: inline-block;
    padding-left: 50px;
}

footer a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    font-size: 20px;
}

footer a:hover{
    color: rgba(0, 0, 0, 0.8);
}
@keyframes scintillement {
  0%, 100% {
    opacity: 1;
    text-shadow: 0 0 10px black;
  }
  50% {
    opacity: 0.8;
    text-shadow: 0 0 20px black;
  }
}

#cv {
  position: absolute;
  right: -9%; 
  width: 250px;
  
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 
               'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
               'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: italic;
  font-weight: bold;

  animation: scintillement 1s infinite;
}

#cv a svg {
  font-size: 1.1em;
  vertical-align: middle;
  margin-left: 3px;
}
#cv a{
  font-size: 15px;
}
.fcv{
  visibility: hidden;
}
/* Footer lien cv scintillement dark style */

@keyframes scintillementblanc {
  0%, 100% {
    opacity: 1;
    text-shadow: 0 0 10px white;
  }
  50% {
    opacity: 0.8;
    text-shadow: 0 0 20px white;
  }
}
body.dark .App-Footer #cv{
    animation: scintillementblanc 1s infinite;
}

/* note à moi même voir comment forcer pour que l'emoji scintille aussi */


/* RESPONSIVE DESIGN FOOTER */

@media (max-width: 768px) {
  footer{
    position: fixed;
    left: 0;
    background-color: rgba(34, 34, 34, 0.8);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer ul li{
    display: inline-block;
    padding: 15px;
}
.fcv{
  visibility: visible;
}
#cv{
  visibility: hidden;
  position: fixed;
  top: -100%;
}
}