 /* style pour .title et .Surname */

 .title {
     font-size: 1.25em;
     display: block;
     width: 100px;
     position: fixed;
     top: 15%;
     left: 5%;
 }

 .Surname {
     font-size: 1.25em;
     display: block;
     width: auto;
     position: fixed;
     bottom: 5%;
     right: 5%;
 }

 .Surname span {
     text-transform: uppercase;
 }

 .title h1,
 .Surname h1 {
     color: black;
 }

 .title h1 .grey,
 .Surname h1 .grey {
     color: grey;
 }

 /* RESPONSIVE DESIGN PAGE D,ACCUEIL */

@media (max-width: 600px) {
    .title,
    .Surname {
        font-size: 0.3rem;
        margin: 10px;
        text-align: center;
    }
    /* .image {
        width: 120px;
        height: 100px;
    }
    body.dark .image,
    body.dark .image img {
        width: 120px;
        height: 100px;
    } */
}
 /* style pour div image */
 .image {
     position: fixed;
     top: 33%;
     left: 45%;
     display: flex;
     justify-content: center;
     align-items: center;
     margin: auto;
     width: 220px;
     height: 200px;

 }
 /* style dark theme */
 body.dark .image  {
     width: 220px;
     height: 200px;
     background-color: rgba(255, 255, 255, 0.65);
     clip-path: polygon(50% 0%,
             90% 25%,
             90% 75%,
             50% 100%,
             10% 75%,
             10% 25%
         );

 }
 body.dark .image img {
     width: 220px;
     height: 200px;
     object-fit: cover;
 }