/* background grillage avec dégardé */
body::before {
  content: "";
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
  background:
      linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px) center,
      linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px) center;
  background-size: 30px 30px;
  transition: all 0.5s linear 0s;
}

body::after {
  background-image:
      radial-gradient(at 40% 40%, rgb(30, 144, 255) 0px, transparent 50%),
      radial-gradient(at 90% 10%, rgb(255, 105, 180) 0px, transparent 50%),
      radial-gradient(at 50% 95%, rgb(0, 255, 255) 0px, transparent 50%),
      radial-gradient(at 20% 30%, rgb(50, 205, 50) 0px, transparent 50%),
      radial-gradient(at 90% 90%, rgb(255, 255, 0) 0px, transparent 50%),
      radial-gradient(at 33% 50%, rgb(255, 69, 0) 0px, transparent 50%),
      radial-gradient(at 79% 53%, rgb(128, 0, 128) 0px, transparent 50%);
  position: fixed;
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(100%);
  top: 0px;
  opacity: 0.3;
  transform: translateZ(0px);
}
