.Admin-Messages {
    position: absolute;
    top: 15%;
    left: 20%;
    padding: 5px;
}

.Admin-Messages form input, .Admin-Messages form #mdp{
    width: 95.5%;
    padding: 10px;
    color: rgba(0, 0, 0, 0.8);
    border-bottom: 3px solid rgba(0, 0, 0, 0.8);
    background: none;
}
.Admin-Messages form button {
    all: unset;
    cursor: pointer;
    padding: 5px;
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}
.Admin-Messages #deco, .Admin-Messages #load {
    all: unset;
    cursor: pointer;
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    margin-top: 30px;
    margin-left: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}
.Admin-Messages form button:hover, .Admin-Messages #deco:hover, .Admin-Messages #load:hover {
    background-color: white;
    color: rgba(0, 0, 0, 0.8);
}

.Admin-Messages table{
    width: 100%;
    max-width: 950px;
    border: 1px solid;
    border-collapse: collapse;
    margin-top: 10px;
    padding: 10px;
}
.Admin-Messages table tr td, .Admin-Messages table tr th{
    border: 1px solid;
    padding: 15px;
}
.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.password-container input {
    flex: 1;
    padding-right: 30px;
}

.eye-icon {
    position: relative;
    right: 10%;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);
}
.error {
    color: rgba(255, 55, 39, 1);
    font-weight: bold;
    background-color: rgba(255, 229, 229, 1);
    padding: 10px;
    border: 1px solid rgba(255, 55, 39, 1);
    border-radius: 5px;
    text-align: center;
}
