/* Filigrane logo dev */
.Fili {
  z-index: 0;
  font-size: 20.5em;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.15);
  pointer-events: none;
  opacity: 0.4;

}

.fili-1 {
  position: fixed;
  top: -20%;
  left: -5%;
  filter: blur(1px);
  animation: float-1 20s ease-in-out infinite;

}

.fili-2 {
  position: fixed;
  bottom: -30%;
  left: -10%;
  transform: rotate(45deg);
  filter: blur(1px);
  animation: float-2 20s linear infinite;
}

.fili-3 {
  position: fixed;
  bottom: -35%;
  right: -10%;
  transform: rotate(-45deg);
  filter: blur(1px);
  animation: float-3 20s ease-in-out infinite;
}

.fili-4 {
  position: fixed;
  top: -35%;
  left: 43%;
  transform: rotate(-45deg);
  filter: blur(1px);
  animation: float-4 20s ease-in-out infinite;
}

.fili-5 {
  position: fixed;
  top: -10%;
  right: -10%;
  transform: rotate(45deg);
  filter: blur(1px);
  animation: float-5 20s ease-in-out infinite;
}

.fili-6 {
  position: fixed;
  bottom: -45%;
  right: 35%;
  transform: rotate(-20deg);
  filter: blur(1px);
  animation: float-6 20s ease-in-out infinite;
}

@keyframes float-1 {
  0% {
    transform: scale(1) rotate(0deg);
  }

  50% {
    transform: scale(1.15) rotate(2deg);
  }

  100% {
    transform: scale(1) rotate(0deg);
  }
}

@keyframes float-2 {
  0% {
    transform:  rotate(45deg);
  }

  50% {
    transform:  rotate(0deg);
  }

  100% {
    transform:  rotate(45deg);
  }
}

@keyframes float-3 {
  0% {
    transform: translateX(0) rotate(-45deg);
  }

  50% {
    transform: translateX(0px) rotate(-30deg);
  }

  100% {
    transform: translateX(0) rotate(-45deg);
  }
}

@keyframes float-4 {
  0% {
    transform: translateX(0) rotate(-45deg);
  }

  50% {
    transform: translateX(-17px) rotate(-30deg);
  }

  100% {
    transform: translateX(0) rotate(-45deg);
  }
}

@keyframes float-5 {
  0% {
    transform: scale(1) rotate(45deg);
  }

  50% {
    transform: scale(1.0) rotate(30deg);
  }

  100% {
    transform: scale(1) rotate(45deg);
  }
}

@keyframes float-6 {
  0% {
    transform: scale(1) rotate(-20deg);
  }

  50% {
    transform: scale(1.05) rotate(-20deg);
  }

  100% {
    transform: scale(1) rotate(-20deg);
  }
}


/*  Style dark pour les filigranes */
body.dark .Fili {
  color: rgba(250, 250, 250, 0.5);
}
/* ✅ Responsive (tablettes) */
@media (max-width: 1024px) {
    /* .Fili {
        font-size: 12em;
      
    } */

    .fili-1 {  top: -20%; left: -5%; }
    .fili-2 {  bottom: -30%; left: -10%; }
    .fili-3 {   bottom: -35%; right: -10%; }
    .fili-4 { top: -35%; left: 43%; }
    .fili-5 {  top: -10%; right: -10%;}
    .fili-6 {  bottom: -45%; right: 35%; }
}

/* ✅ Responsive (mobiles) */
@media (max-width: 600px) {
    .Fili {
        font-size: 8em;
        color: rgba(150, 150, 150, 0.3);
     
    }

    .fili-1 {  top: 35%; left: -5%; }
    .fili-2 {  bottom: -5%; left: -5%; }
    .fili-3 {   top: 40%; right: -50%; }
    .fili-4 { top: -5%; left: -3%; }
    .fili-5 {  top: -5%; right: -5%;}
    .fili-6 {  bottom: -5%; right: -5%; }
}
@media (min-width: 601px) and (max-width: 1023px) {
    .Fili {
        font-size: clamp(14em, 20vw, 19em);
        color: rgba(150, 150, 150, 0.3);
     
    }

    .fili-1 {  top: -15%; left: -5%; }
    .fili-2 {  bottom: -15%; left: -10%; }
    .fili-3 {   bottom: -20%; right: -10%; }
    .fili-4 { top: -20%; left: 43%; }
    .fili-5 {  top: -10%; right: -10%;}
    .fili-6 {  bottom: -25%; right: 35%; }
}