* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.App-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 10px 0;

}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.logo img {
  height: 60px;
  width: auto;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  z-index: 20;
}

.linear {
  display: flex;
}

.line {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.line li {
  padding: 0 1rem;
}

.line li a {
  text-decoration: none;
  padding: 10px 0;
  transition: color 0.3s ease;
  color: black;
}

.nv.active {
  border-bottom: 3px solid;
  opacity: 0.8;
}

.theme {
  cursor: pointer;
}

.nv svg {
  position: relative;
  top: 3px;
}


/* RESPONSIVE DESIGN HEADER */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    position: absolute;
    top: 1.2rem;
    right: 1rem;
  }

  .linear {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 1.5rem;
    gap: 1rem;
    display: none;
    transition: all 0.3s ease;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    overflow-y: auto;
    max-height: 80vh;
    z-index: 5;
    background-color: white;
  }

  .line.active {
    display: flex;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  .line li {
    width: 100%;
  }

  .line li a {
    width: 100%;
    padding: 12px 0;
    font-size: 1rem;
    display: block;
  }

  .logo img {
    width: 65px;
    height: 50px;
  }

  body.dark .App-header {
    background-color: rgba(34, 34, 34, 1);
  }

  body.dark .line {
    background-color: rgba(40, 40, 40, 1);
  }

  .theme {
    display: none !important;
  }

}

/* style dark theme */
body.dark {
  color: rgba(250, 250, 250, 0.95) !important;
  background-color: #1e1e1e !important; 
 
}

body.dark::after {
  background-image:
    radial-gradient(at 30% 30%, rgba(0, 120, 255, 0.07) 0px, transparent 50%),
    radial-gradient(at 70% 70%, rgba(128, 0, 128, 0.05) 0px, transparent 50%);
  opacity: 0.2;
  filter: blur(60px);
}

body.dark::before {
  background:
    linear-gradient(rgba(255, 255, 255, 0.15) 1px, transparent 1px) center,
    linear-gradient(90deg, rgba(255, 255, 255, 0.15) 1px, transparent 1px) center;
  background-size: 50px 50px;
}


body.dark Header a,
body.dark Header li {
  color: white;
}

body.dark .App-Section .title h1,
body.dark .App-Section .Surname h1, body.dark .App-Section .Surname .sname {
  color: white;
}

body.dark .App-Section .title .grey,
body.dark .App-Section .Surname .grey {
  color: rgba(0, 0, 0, 0.8);
}

body.dark .App-Section .circle div {
  border: 1px solid white;
  background-color: white;
  border-radius: 50px;
  padding: 3px;
  opacity: 0.4;
}

body.dark .App-Footer li a,
body.dark .Admin-Messages form input,
body.dark .Admin-Messages form #mdp {
  color: white;
}

body.dark .App-Contact #send:hover,
body.dark .Admin-Messages form button:hover,
body.dark .Admin-Messages #deco:hover {
  color: rgba(0, 0, 0, 0.8);
  background-color: white;
}


body.dark .App-Apropos .timeline-content {
  color: black;
  background: #f5f5f5;
}

body.dark .Admin-Messages table {
  border: 1px solid rgba(250, 250, 250, 0.9);
}

body.dark .Admin-Messages form button,
body.dark .Admin-Messages #deco {
  background-color: rgba(250, 250, 250, 0.9);
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(250, 250, 250, 0.9);
}

body.dark .Admin-Messages form button:hover,
body.dark .Admin-Messages #deco:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(250, 250, 250, 0.9);
}

body.dark .Admin-Messages form input::placeholder,
body.dark .Admin-Messages form .eye-icon {
  color: rgba(250, 250, 250, 0.9);
}

body.dark .Admin-Messages form input,
body.dark .Admin-Messages form #mdp {
  border-bottom: 3px solid rgba(250, 250, 250, 0.9);
}