/* Style pour .title et .Surname */
.title {
    font-size: clamp(1.05em, 2vw, 1.15em);
    display: block;
    width: 130px;
    position: fixed;
    top: 15%;
    left: 5%;
}

.Surname {
    font-size: clamp(1.05em, 2vw, 1.15em);
    display: block;
    width: auto;
    position: fixed;
    bottom: 5%;
    right: 5%;
}

.title h1,
.Surname h1 {
    color: black;
}

.title h1 .grey,
.Surname h1 .grey {
    color: grey;
}

/* .Surname h1 .redc {
    color: #ab0909;
} */
.hiderespo {
    visibility: hidden;
    overflow: hidden;
    font-size: clamp(1rem, 2.5vw, 2rem);
}




/* Style pour div image */
.image {
    position: fixed;
    top: 35%;
    left: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin: auto;
    width: clamp(120px, 20vw, 220px);
    height: clamp(100px, 18vw, 200px);
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* === RESPONSIVE SECTION (HOMEPAGE) === */

@media (max-width: 850px) {
    .App-Section {
        padding: 6rem 0;
    }

    .App-Section .title h1,
    .App-Section .Surname h1 {
        visibility: hidden;
    }


    .image {
        visibility: hidden;
    }

    .hiderespo {
        visibility: visible;
        position: relative;
        top: 1vh;
        left: 5vw;
        max-width: 90vw;
        /* max-height: 90vh; */
        overflow: auto;
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-size: clamp(1rem, 2.5vw, 2rem);
        padding: 0 0 2rem 0 !important;
    }

    .profile-imagesection {
        width: 150px;
        height: 150px;
        margin: 15px 0 0 15px;
    }

    #trespo,
    #frespo {
        width: 100%;
        max-width: 95%;
        margin: 0;
        text-transform: none;
        font-size: clamp(1rem, 3vw, 5rem);
        font-family: "Fira Code", monospace;
    }


    /* Coloration mode code */
    .key {
        color: #dcdcdc;
    }

    .var {
        color: #ab0909;
    }

    .propriete {
        color: #808080;
    }

    .string {
        color: #ffffff;
    }

    .bracket {
        color: #f08c42;
    }

    .cmmt {
        color: #98c379;
    }

    .number {
        color: #f1fa8c;
    }

}

/* Cas où la hauteur de l’écran est trop petite */
@media (max-height: 500px) {
    .title {
        font-size: 0.85em !important;

    }

    .Surname {
        font-size: 0.85em !important;
    }

    .image {
        width: clamp(80px, 13vw, 130px) !important;
        height: clamp(80px, 13vw, 130px) !important;
        position: fixed !important;
        top: 38% !important;
        left: 40% !important;
    }

    .hiderespo {
        font-size: clamp(0.8rem, 1.8vw, 1.2rem);
        gap: 3px;
        max-height: 80vh;
    }

    .profile-imagesection {
        width: 100px;
        height: 100px;
        margin: 10px;
    }

    #trespo,
    #frespo {
        font-size: clamp(0.8rem, 2vw, 1.2rem);
    }
}


/* === STYLE DARK THEME === */

body.dark .image {
    position: fixed;
    top: 35%;
    left: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin: auto;
    width: clamp(120px, 20vw, 220px);
    height: clamp(100px, 18vw, 200px);
    clip-path: polygon(50% 0%,
            90% 25%,
            90% 75%,
            50% 100%,
            10% 75%,
            10% 25%);
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.75);
}

body.dark .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body.dark .App-Section .title .grey,
body.dark .App-Section .Surname .grey {
    color: navajowhite;
}