.App-Projets{
    position: absolute;
    top: 15vh;
    left: 15vw;
}
.conteneur-slider{
    display: flex;
    flex-direction: row;
    width:  950px;
    height: 400px;
    padding-top: 40px;
}
.description{
    display: flex;
    flex-direction: column;
    width: 335px;
    height: 400px;
    padding-left: 7px;
}
.description .titre{
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.description p{
    font-size:  15px;
    text-align: justify;
    margin-bottom: 35px;
}
.techno{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 5px;
    margin: 0;
    padding: 0;
   
}

.techno .tec{
    text-transform:  uppercase;
    display: inline-block;
    margin-right: 15px;
    padding: 0;
}

/*boutons prev et next*/
.prev,
.next {
    cursor: pointer;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #333;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.6s ease;
}

.prev {
    left: 55px;
}

.next {
    right: 55px;
}

.prev:hover,
.next:hover {
    color: whitesmoke;
    background-color:  rgba(0, 0, 0, 0.95);
    opacity: 0.7;
}


/*gestion des images*/
